# Puerto del backend
PORT=3000
NODE_ENV=production

# CORS para frontend web (separar multiples origenes por coma)
CORS_ORIGINS=http://localhost:8082,http://localhost:8081,http://localhost:19006,
http://localhost:8083,
http://consultoriodrakarlaastua-consultoriodrak-bdd288-148-113-202-119.traefik.me/
CORS_ALLOW_LOCALHOST_ANY_PORT=true
PORT=3000
# Si es true, la API no arranca si no hay conexion a DB
REQUIRE_DB_ON_START=false

# Opcion 1: URL completa de MySQL (recomendada para Dockploy)
# DATABASE_URL=mysql://root:k4jjoe56j8vtjyya@148.113.202.119:3306/consultoriodraastua

# Almacenamiento de documentos
# Valores: local | azure
DOCUMENT_STORAGE_PROVIDER=local

# Alternativa de compatibilidad para activar Azure (true/false)
USE_AZURE_BLOB_STORAGE=false

# Azure Blob (usar uno de estos enfoques)
# 1) SAS URL de Blob Service (recomendado)
AZURE_BLOB_SERVICE_SAS_URL=

# 2) Connection string (alternativa)
AZURE_STORAGE_CONNECTION_STRING=

# Nombre del contenedor de documentos
AZURE_STORAGE_CONTAINER_NAME=documentos

# Necesario para generar SAS temporales desde backend (no aplica si solo subes usando SAS fija)
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=

# Guarda la URL con query SAS al insertar en BD (recomendado true para contenedores privados)
AZURE_STORE_URL_WITH_SAS=true

# Si el contenedor no existe, intenta crearlo automaticamente
AZURE_AUTO_CREATE_CONTAINER=false


